@media(min-width: 499px) {
    html {
        font-family: 'Times New Roman', Times, serif;
        background-image: url("./images/bluegrey.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: lightskyblue;
        width: fit-content;
        height: 100vh;
        margin: 0 auto;
    }


    /* body {
        background-image: url("./images/bluegrey.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: lightskyblue;
        width: fit-content;
        height: 100vh;
        margin: 0 auto;
        
    
        
    } */
    
    .name {
        max-width: 100%;
        min-width: 0px;
        text-align: center;
        color: whitesmoke;
        margin-top: 10%;
        padding: 10%;
        
    }
    nav {
        max-width: 100%;
        min-width: 0px;
        text-align: center;
        color: whitesmoke;
        
        padding: 20px;
        
    }
    button, .navbuttons {
        background-color: transparent;
        border: none;
        color: whitesmoke;
        cursor: pointer; 
        overflow: hidden;
        
        
    }
    
    .current-page {
        
        background-color: azure;
        align-items: center;
        text-align: center;
    
        
        /* margin: 0 auto; */
        padding: 4%;
        
        padding: 1rem;
        
        width: 70vw;
        border-radius: 2rem;
        overflow-y:hidden;
    } 
    .hidden-page {
        display: none;
        
    }
   
    .container{
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        flex-wrap: nowrap;
        
    }
    ul {
        list-style-type: none;
        padding: 0;
        font-style: normal;
        font-size: small;
    }
    }

/* Mobile View, OK for now */
@media(max-width: 500px) {

html {
        font-family: 'Times New Roman', Times, serif;
        background-image: url("./images/bluegrey.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: lightskyblue;
        width: fit-content;
        height: 100vh;
        margin: 0 auto;
    }
/* body {
    background-image: url("./images/bluegrey.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightskyblue;
    width: fit-content;
    height: 100vh;
    margin: 0 auto;

    
} */


.name {
    max-width: 100%;
    min-width: 0px;
    text-align: center;
    color: whitesmoke;
    margin-top: 8%;
    padding: 5%;
}
nav {
    /* flex:auto; */
    max-width: 100%;
    min-width: 30%;
    color: whitesmoke;
    align-items: flex-start;
    padding: 20px;
    
}
button, .navbuttons {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    cursor: pointer; 
    overflow: hidden;
}

.current-page {
    background-color: azure;
    align-items: center;
    text-align:center;
    margin: 0 auto;
    padding: 4%;
    padding: 1rem;
    width: 70vw;
    border-radius: 1rem;
    overflow-y:hidden;
} 
.hidden-page {
    display: none;
}
#experience {
    flex-direction: column;
    
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    margin-top: 1%;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
   
}
ul {
    list-style-type: none;
    padding: 0;
    font-style: normal;
    font-size: small;
}
p {
    font-style: normal;
    font-size: small;}
}
