.App {
    display: flex;
    flex-direction: column;
}
html {
    
    font-family: 'Hind', sans-serif;
    height: 100vh;
    margin: 0 auto;
} 

ul {
    list-style-type: none;
    padding: 0;
    font-style: normal;
    font-size: small;
}

nav {
    max-width: 100%;
    min-width: 0px;
    text-align: center;
    color: whitesmoke;
    margin-top: 5%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.section {
        background-color: azure;
        align-self: center;
        text-align:center;
        width: 70vw;
        border-radius: 1rem;
        overflow-y:hidden;
        margin-top: 2em;
        
}

/* #root {
    background-image: url(./assets/bluegrey.jpeg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
  } */

  body {
    margin: 0;
    padding: 0;
  }
  
  #name {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: whitesmoke;
    text-align: center;
  }
