/* #root {
        background-image: url(./assets/bluegrey.jpeg);
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100vh;
        font-family: 'Hind', sans-serif;
      } */
